header{
	font-family: sans-serif;
	padding: 00px;
	font-size: 40px;
	color: red;
}
h1 {
	font-family: sans-serif;
	font-size: 40px;
	color: white;
}
p{
	font-family: sans-serif;
	font-size: 20px;
	color: white;
}
body {
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

section::after {
	content: "";
	display: table;
	clear: both;
}
nav{
  text-align: center;
	float: left;
	padding: 00px;
	width: 30%;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
}

article {
  float: right;
  padding: 10px;
  width: 66%;
  
  height: 350px;
}

footer {
	font-family: arial;
	padding: 00px;
	font-size: 15px;
	color: white;
}
a{
	color: white;
}
img {
  border-radius: 50%;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: dimgray;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

/* Style the topnav links */
.topnav a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: sans-serif;
}

/* Change color on hover */
.topnav a:hover {
  background-color: crimson;
  color: black;
}

.active {
  background-color: crimson;
  color: black;
}